IP=10.109.16.4
IP_SWAMP=10.109.16.2
PUERTO=5001
PUERTO_SWAMP=5555
TAMANIO=4096
TAMANIO_PAGINA=128
TIPO_ASIGNACION=DINAMICA
MARCOS_MAXIMOS=4
ALGORITMO_REEMPLAZO_MMU=LRU
CANTIDAD_ENTRADAS_TLB=4096
ALGORITMO_REEMPLAZO_TLB=FIFO
RETARDO_ACIERTO_TLB=100
RETARDO_FALLO_TLB=1000
PATH_DUMP_TLB=/home/utnso/dumps/tlb
